.question-padding{
  padding-top: 10px;
  padding-left: 10px;
}

.question-title{
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10px;
}

.question-submit{
  padding-top: 10px;
  padding-left: 50px;
}
