.back-question{
  padding-left: 10px;
  padding-top: 10px;
}

.question{
  padding-left: 10px;
  padding-top: 10px;
  font-weight: bold;
}

.question-anwser{
  padding-left: 20px;
  padding-top: 20px;
}
