.add-question{
  padding-left: 10px;
  padding-top: 10px;
}

.question{
  padding-left: 10px;
  padding-top: 10px;
}

.question-content{
  font-weight: bold;
}

.question-require{
  padding-left: 5px;
}
